Django==1.2.1
Jinja2==2.5
PIL==1.1.7
South==0.7.1
Whoosh==0.3.18
django-extensions==0.5
django-haystack==1.0.1-final
django-tagging==0.3.1
#pymad have no pip-ready install, have to install manually
#pymad==0.6
python-memcached==1.45
python-openid==2.2.5
wsgiref==0.1.2
flup==1.0.3.dev-20100525
