{% import "macro/display.html" as display -%}
<tr class="{{ row_class.next() }}">
 <td align="left">
  {% if req.priority %}*{% endif %}{{ display.song(req.song) }}
 </td>
 <td align="left">
  {% for artist in req.song.artists.all() -%}
   {{ display.artist(artist) }}{% if loop.last %} {% else %}, {% endif %}
  {%- endfor %}
 </td>
 <td align="center">
  {{ req.song.length() }}
 </td>
 <td align="center">
  {{ req.requested|time("H:i") }}{% if req.playtime %} [{{ req.playtime|time("H:i") }}]{% endif %}
 </td>
 <td align="center">
  {{ req.eta|time("H:i") }}
 </td>
 <td align="left">
  {{ display.user(req.requested_by) }}
 </td>
  <td align="center" title="Song rating ({{ req.song.rating_votes }} votes)">
  {{ req.song.rating|floatformat|default("N/A", true) }}
 </td>
</tr>
