{% extends "base/base.html" %}

{% import "macro/display.html" as display %}

{% block headblock %}
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
function updateinput () {
    var arr = $("#sortsonglist").sortable("toArray");
    var idstr = "";
    var len = 0;
    for (id  in arr) {
        idstr = idstr + arr[id].replace("song-", "") + ",";
        len = len + parseInt($("#"+arr[id]).attr("songlength"));
    }
    $("#songsinput").val(idstr.slice(0,-1));
    $("#timelength").text(hms(len));
}

function hms(secs){
    secs = secs % 86400;
    var time = [0,0,secs];
    for(var i=2;i>0;i--){
        time[i-1]=Math.floor(time[i]/60);
        time[i]=time[i]%/**/60;
        if(time[i]<10)
        time[i]='0'+time[i];
    }
    return time.join(':')
}

function addsongs (target, data) {
                target.empty();
                target.hide();
                $.each(data, function (i, sdata) {

                    var li = $("<li></li>");
                    var kill = $("<span>[x]</span>");
                    kill.css({
                        "color": "#f00",
                        "cursor": "pointer"
                    });
                    li.css({
                        "cursor": "move"
                    });
                    kill.click(function () {
                        li.slideUp(170, function () {li.remove(); updateinput();});
                    });
                    li.html("<a href='"+sdata.url+"' target='songinfo'>"+sdata.title + "</a> by " + sdata.artists + " ");
                    li.attr("id", "song-"+sdata.id);
                    li.attr("songlength", sdata.slength);
                    li.append(kill);
                    li.appendTo(target);
                    updateinput();
                });
                target.slideDown(100);
}

  $(document).ready(function() {

    $("#sortsongsearchlist").sortable({
        "connectWith": "#sortsonglist",
        "containment": "#dragarea"
    });
    $("#sortsonglist").sortable({
        "containment": "#dragarea",
        "update": function (event, ui) {
            updateinput();
        }
    });
    $("#addsongform").submit( function() {
        var songval = $("#songid").val();
        $.getJSON('{{ url("dv-ax-songinfo") }}', {"q": songval}, function(data) {
            if (data.error) {
                $("#errr").text(data.error).stop(true, true).show().fadeOut(3000);
            } else {
                addsongs($("#sortsongsearchlist"), data);
            }
        });
        return false;
    });
    
    $("#compilationsubmitform").submit( function() 
    {
        var arr = $("#sortsonglist").sortable("toArray");
        if ( arr.length == 0 )
        {
			$("#errr").text("{{ gettext("Add songs in compilation") }}").stop(true, true).show().fadeOut(15000);
			document.bodyElement.scrollTop='0px'
			return false;
		}
		else
		{
			return true;
		}
        return false;
    });
    
    var loadstr = "{{ songsinput }}";
    if (loadstr) {
        $.getJSON('{{ url("dv-ax-songinfo") }}', {"q": loadstr}, function(data) {
            addsongs($("#sortsonglist"), data);
            updateinput();
        });
    }
  });
</script>
{% endblock %}

{% block title %}{{ gettext("Add compilation") }}{% endblock %}

{% block main %}

<h2>{{ gettext("Cool stuff") }}</h2>
<p><form id="addsongform">
    <label for="songid">{{ gettext("Search song") }} : </label><input type="text" id="songid"/>
    <input type="submit" value="{{ gettext("Search") }}" id="addsongsubmit"/> <div id="errr" style="color:#f00;"></div>
    </form>
</p>

<div id="help" style="float: right; font-size:1.3em;">
{{ gettext("Hint : Drag... and drop!") }}
</div>
<div id="dragarea">
{{ gettext("Search result") }}
<ul id="sortsongsearchlist">
</ul>
<p>{{ gettext("Songs in compilation") }} (<span id="timelength">0:00:00</span>)</p>
<ol id="sortsonglist" style="min-height: 30px; background-color: #eee; width:100%; padding-top:5px;">
</ol>

</div>

<form id="compilationsubmitform" action="." method="post">

<h2>{{ gettext("Compilation info") }}</h2>
<input id="songsinput" name="songsinput" type="hidden"/>
<table>
    {{ compform }}
</table>
<input type="submit" value="{{ gettext("Save entry") }}"/>
</form>
{% endblock %}
