{% extends "base/base.html" %}
{% import "macro/display.html" as display %}
{% block title %}Edit songinfo{% endblock %}

{% block main %}
<h2>Edit metadata for {{ song }}</h2>
<p>Edit song info for the song <a href="{{ song.get_absolute_url() }}">{{ song }}</a></p>

<p>The information here will be submitted, but won't be active until a moderator has checked and approved it.</p>

<form method="post" action=".">
<table>
    {{ form.as_table() }}
</table>
<input type="submit">
</form>
{% endblock %}
