{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}All Producers / Labels{% endblock %}

{% block main %}
<h2><img class="icon_header" src="/static/transmit_blue.png" alt="" />Producers / Labels List</h2>
{% for l in al %}<a href="{{ url ("dv-labels_letter", l) }}">{{ l|upper }}</a> {% endfor %} [<a href="{{ url("dv-labels") }}">All Labels</a>]<br /><br />

{% set objs, paging = dv.paginate(object_list) %}

{% for label in objs %}
    {{ display.label(label) }}<br />
{% endfor %}
<br />
{{ paging }}
<br />
Not Finding What You're Looking For? <a href="{{ url("dv-createlabel") }}">Suggest A New Label!</a><br />

{% endblock %}

