{% extends "base/base.html" %}

{% block title %}{{ gettext("Edit My Profile") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}user.png" alt="" />{{ gettext("My Profile Settings") }}</h2>
<a href="/accounts/password/change/">{{ gettext("Change My Password") }}</a><br /><a href="{{ url ("dv-profile", profile.user) }}">{{ gettext("View My Live Profile") }}</a>

<h2>{{ gettext("OpenID") }}</h2>
<span>{{ gettext("Your") }} <a href="http://openidexplained.com/" target="_blank">OpenID</a> {{ gettext("key") }}:</span>
<ul>
{% for id in user.openid_set.all() %}
    <li><img src="{{ MEDIA_URL }}/openid-icon.png" alt="OpenID"/> {{ dv.site_url() }}{{ id.get_absolute_url() }}<br/></li>
    {% if id.trustedroot_set.all() %}
    <span>{{ gettext("Allowed sites") }}:</span>
        <ul>
        {% for root in id.trustedroot_set.all() %}
            <li><a href="{{ root.trust_root }}" target="_blank">{{ root.trust_root }}</a> - <a href=".?killroot={{ root.id }}" title="Remove">[x]</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>

<h2><img class="icon_header" src="{{ MEDIA_URL }}page_white_edit.png" alt="" />{{ gettext("Profile Settings") }}</h2>
<form action="." method="post" enctype="multipart/form-data">
<table id="profileform">
{{ form.as_table() }}
</table>

{{ links }}

<input type="submit" value="{{ gettext("Update") }}" />
</form>
{% endblock %}

