{% extends "base/base.html" %}

{% block title %}{{ gettext("Song List") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}music.png" alt="" />{{ gettext("List Of Songs") }}</h2>
{% for l in al %}<a href="{{ url("dv-songs_letter", l) }}">{{ l|upper }}</a> {% endfor %}<br /><br />
{% include "webview/t/songheader.html" %}

{% set objs, paging = dv.paginate(object_list) %}

{% for song in objs %}
 <tr class="{{ loop.cycle ('row1','row2') }}">
{% include "webview/t/songlist.html" %}
 </tr>
{% endfor %}
</table>

{{ paging }}

{% endblock %}
