{% extends "base/base.html" %}

{% block title %}Song sources{% endblock %}

{% block main %}
<h2><img class="icon_header" src="/static/sound.png" alt="" />Song Sources/Types</h2>
{% for p in object_list %}
 {% if p.song_set.count() != 0 %}
  {% set P = p %}{% include "webview/t/songtypename.html" %} ({{ p.song_set.count() }} Songs)<br />
 {% endif %}
{% endfor%}

<div class="olh_pages">
<p>Pages:
{% for p in page_range %}
{% if page == p %}<b>{{ p }}</b>{% else %}<a href="{{ url("dv-sources") }}?page={{ p }}">{{ p }}</a> {% endif %}
{% endfor %}</p>
</div>

{% endblock %}
