{% extends "base/base.html" %}

{% block title %}Platform {{ object.title|e }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}script.png" alt="" />Song Source - {{ object.title|e }}</h2>
{% if object.image %}<img src="{{ object.image.url }}" title="Screenshot For {{ object.title|e }}" alt="Screenshot For {{ object.title|e }}" />{% endif %}
{{object.description|urlize|linebreaks}}

<h2><img class="icon_header" src="{{ MEDIA_URL }}music.png" alt="" />Songs</h2>

{% include "webview/t/songheader.html" %}
{% for song in object.song_set.all() %}
 <tr class="{{ loop.cycle('row1', 'row2') }}">
 {% include "webview/t/songlist.html" %}
 </tr>
{% endfor %}
</table>

<div class="olh_pages">
<p>Pages:
{% for p in page_range %}
{% if page == p %}<b>{{ p }}</b>{% else %}<a href="{{ url("dv-source") }}?page={{ p }}">{{ p }}</a> {% endif %}
{% endfor %}</p>
</div>

{% endblock %}
