{% extends "base/base.html" %}

{% import "macro/display.html" as display %}

{% block title %}{{ object.artist()|e }} - {{ object.title|e }}{% endblock %}

{% block main %}

{% set meta = object.get_metadata() %}

<h2>
 <img class="icon_header" src="{{ MEDIA_URL }}music.png" alt="" />Song Information
{% if user.is_staff %}
 [<a href="/admin/webview/song/{{ object.id }}/">Edit Info</a>] <em>Admin Preview:</em> {% set song = object %}{% include "webview/t/flash_playsong.html" %}
{% endif %}
</h2>

{% if not user.is_authenticated() or user.get_profile().use_tags %}
<div class="taglist">
{% cache 86400 mkstr(object.id, object.last_changed, "tgcache") %}
    <p>Tags for song:</p>
    {% if tags %}
        {% for tag in tags %}
            <span title="{{ tag.count }} song(s)">{{ display.tag(tag) }}</span>
        {% endfor %}
    {% else %}
        <em>No tags</em>
    {% endif %}
    <p><a href="{{ url('dv-songtags', object.id) }}">Edit tags</a></p>
    {% if related %}
        <p>Related songs:</p>
        {% for S in related[:5] %}
            {{ display.song(S) }} by {{ display.artists(S) }}{% if not loop.last %}<br/> {% endif%}
        {% endfor %}
    {% endif %}
    <br/>
{% endcache %}
</div>
{% endif %}

{% cache 86400 mkstr(object.id, object.last_changed, "songinfo") %}

{{ display.song(object) }}

<p>
Author:
{% for artist in meta.artists.all() %}
 {{ display.artist(artist) }}{% if loop.last %} {% else %}, {% endif %}
{% endfor %}
{% for group in meta.groups.all() %}
 {{ display.group(group) }}
{% endfor %}
</p>

{% if meta.labels.count() != 0 %}
 Production Label: {% for label in meta.labels.all() %}{{ display.label(label) }}{% if loop.last %} {% else %}, {% endif %}{% endfor %}<br />
{% endif %}

{% if object.uploader %}
Uploaded By: {{ display.user(object.uploader) }}
{% endif %}

<p>
 Last Queued :
 {% if object.last_queued() != "Never" %}
  {{ object.last_queued()|timesince }} ago
 {% else %}
  Never Been Queued!
 {% endif %}
</p>

Extra Resources: {{ display.songicons(object) }} {{ display.links(object) }}
<br />

<p>
Song Length: {{ object.length() }}<br />
{% if meta.release_year %}Release Year: {{ meta.release_year }}<br />{% endif %}
Song Status: {{ object.get_status_display() }}
{% if object.bitrate %}<br />Song Bitrate: {{ object.bitrate }} kbps{% endif %}
{% if meta.type %}<br />Song Source: {{ meta.type|e }}{% endif %}
{% if meta.platform %}<br />Song Platform: {{ display.platform(meta.platform) }}{% endif %}
</p>

{% if meta.info %}
<br />Additional Information:<br /><i>{{ meta.info|urlize|bbcode|linebreaks }}</i>
{% endif %}

{% endcache %}

{% if user.is_authenticated() %}
  <p>
 {% if object.is_locked() %}
  <img class="song_head" src="/static/lock.png" title="Song Locked" />
  <i>
   Song is currently locked for queuing.
   {% if object.locked_until and object.is_active() %}
    It will be available for request again {{ object.locked_until }}
   {% endif %}
  </i>
 {% else %}
  <img class="song_head" src="{{ MEDIA_URL }}add.png" title="Add To Queue!" /> <a href="{{ object.get_absolute_url() }}queue/">Add To Queue</a>
 {% endif %}<br />
 {% if object.is_favorite(user) %}
  <img class="song_head" src="{{ MEDIA_URL }}heart.png" title="Already Loved!" /> Already In Your Favourites List!
 {% else %}
  <img class="song_head" src="{{ MEDIA_URL }}heart_add.png" title="Add To Faves" /> <a href="{{ url ("dv-add_fav", object.id) }}/">Add To Favorites</a>
 {% endif %}
 </p>
{% endif %}

{% cache 86400 mkstr(object.id, object.last_changed, "songinfo2") %}

<p>
This song has been played {{ object.times_played }} times. [<a href="{{object.get_absolute_url()}}queue_history">See Request History</a>]<br />
It was added {{ object.added|timesince }} ago.
</p>

{% if object.get_metadata().pouetid %}
  {{ object.get_pouet_screenshot() }}
  {{ object.get_pouet_download() }}
{% endif %}

{% if object.songdownload_set.all()  %}
 <h2>Download Links</h2>
 <ul>
 {% for dl in object.songdownload_set.all() %}
  <li><a href="{{ dl.download_url|e }}">{{ dl.title|e }}</a></li>
 {% endfor %}
 </ul>
{% endif %}

{% endcache %}

<h2><img class="icon_header" src="{{ MEDIA_URL }}star.png" alt="" />Song Rating</h2>
{% if object.rating_votes %}
  Song Rating: {{ object.rating|floatformat }} - Votes Placed: {{ object.rating_votes }} <a href="{{ object.get_absolute_url() }}votes/">View Voting History</a><br />
{% else %}
 No Votes Yet :( <br />
{% endif %}

{% if user.is_authenticated() %}
{% set vote_value = object.get_vote(user) %}
 Your Vote : {{ vote_value|default("You have not voted yet!!") }} <br/>
  <form action="{{ url ("dv-vote", object.id) }}" method="post">
 {% for v in vote_range %}
   <input type="radio" name="Rating" value="{{ v }}" {% if vote_value == v %}checked{% endif %} />{{ v }}
 {% endfor %}
  <input type="submit" />
  </form>
{% endif %}

{% cache 86400 mkstr(object.id, object.last_changed, "songinfo3") %}

A total of {{ object.num_favorited }} users have this song on their favourites list.<br />

<h2><img class="icon_header" src="{{ MEDIA_URL }}music.png" alt="" />Compilation / Remix Information</h2>

{% if meta.remix_of_id %}This song is a remix of: {{ dv.get_song_queue_tag(meta.remix_of_id) }}<br />{% endif %}

{% if comps %}
 <p><strong>This Song Is Listed In The Following Compilations:</strong><br /><br />
 {% for comp in comps.all() %}{{ display.compilation(comp) }}<br />{% endfor %}
 </p>
{% endif %}


{% endcache %}

{% if remix %}
<br /><strong>Remixes Based On This Song:</strong><br /><br />
{% for mix in remix %}{{ dv.get_song_queue_tag_j(mix) }}<br />{% endfor %}
{% endif %}

<h2><img class="icon_header" src="{{ MEDIA_URL }}link_edit.png" alt="" />Song Corrections &amp; Updates</h2>
<p><a href="{{ url ("dv-song-edit", object.id) }}">[Edit information]</a> - <a href="{{ url ("dv-song-addlink", object.id) }}">[Add links]</a>
{% if user.is_staff %}
 - <a href="{{ url ("dv-song-infolist", object.id) }}">[View Link History]</a>
{% endif %}
</p>

<h2>
<img class="icon_header" src="{{ MEDIA_URL }}comment.png" alt="" />User Comments
</h2>

<p>

{% set objs, paging = dv.paginate(object.songcomment_set.all(), 5) %}

<table id="djangoForumThreadPosts">
 <tr>
  <th>User</th>
  <th>Song Comment</th>
 </tr>
 {% for comment in objs %}
 {% include "webview/t/song_comment.html" %}
 {% endfor %}
</table>

{{ paging }}

{% if user.is_authenticated() %}
 Add New Song Comment :<br />
 <form action="{{ url ("dv-addcomment", object.id) }}" method="post">
  <textarea name="Comment" rows='8' cols='50' class="input"></textarea><br />
  <input type="submit" value="Add New Comment" />
 </form>
{% endif %}

{% endblock %}

