{% extends "base/base.html" %}

{% import "macro/display.html" as display %}

{% block title %}Edit tags for {{ song|e }}{% endblock %}
 
{% block main %}
<h2>Edit tags for {{ song|e }}</h2>

<p>Please try to keep the style and words that's already in use.</p>

How tag input gets treated:
<table>
<tr><th>Tag input string</th><th>Resulting tags</th><th>Notes</th></tr>
<tr><td>apple ball cat</td><td>[apple], [ball], [cat]</td><td>No commas, so space delimited</td></tr>
<tr><td>apple, ball cat</td><td>[apple], [ball cat]</td><td>Comma present, so comma delimited</td></tr>
<tr><td>"apple, ball" cat dog</td><td>[apple, ball], [cat], [dog]</td><td>All commas are quoted, so space delimited</td></tr>
<tr><td>"apple, ball", cat dog</td><td>[apple, ball], [cat dog]</td><td>Contains an unquoted comma, so comma delimited</td></tr>
<tr><td>apple "ball cat" dog</td><td>[apple], [ball cat], [dog]</td><td>No commas, so space delimited</td></tr>
<tr><td>"apple" "ball dog</td><td>[apple], [ball], [dog]</td><td>Unclosed double quote is ignored</td></tr>
</table>
<h2>Change tags</h2>
<form method="post" action=".">
Tags : <input type="text" name="tags" value="{{ tags|e }}" />
<input type="submit" value="Update tags" />
</form>
<h3>Latest changes:</h3>
{% if changes %}
<table>
<tr>
<th>User</th>
<th>Time</th>
<th>Tags</th>
</tr>
{% for change in changes %}
<tr>
    <td>{{ display.user(change.user) }}</td>
    <td>{{ change.added }}</td>
    <td>{{ change.tags|e }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No tags have been added yet
{% endif %}
{% endblock %}
