{% extends "base/base.html" %}

{% import "macro/display.html" as display %}

{% block title %}Tag {{ tag|e }}{% endblock %}
 
{% block main %}
<h2>Info for tag(s) "{{ tag|e }}"</h2>
<p>Related tags:</p>
{% for tagd in related %}
   <a href="{{ url("dv-tagdetail", mkstr(tag|e,",",tagd|e)) }}" title='Add tag "{{ tagd|e }}" to filter' class="tag_add">[+]</a><span title="{{ tagd.count }} song(s) tagged">{{ display.tag(tagd) }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}
<h2>Songs connected to tags</h2>

{% include "webview/t/songheader.html" %}
{% for song in songs %}
<tr class="{{ loop.cycle('row1', 'row2') }}">
{% include "webview/t/songlist.html" %}
</tr>
{% endfor %}
</table>

{% endblock %}
