{% import "macro/display.html" as display -%}
There {{ userlist.count()|pluralize("is,are") }} a total of {{ userlist.count() }} user{{ userlist.count()|pluralize }} online now:<br /><br />

{% if userlist.count() != 0 %}
 <div id="whosonline" class="whosonline">
 <table>
    <tr><td>
     {% for U in userlist.all() %}
      {{ display.user(U.user) }}{% if loop.last %} {% else %}, {% endif %}{{ loop.cycle('', '<br />') }}
     {% endfor %}
    </td></tr>
 </table>
 </div>
{% endif %}
