.tagview_1 a {
    font-size:0.75em;
}

.tagview_2 a {
    font-size:0.95em;
}

.tagview_3 a {
    font-size:1.1em;
}

.tagview_4 a {
    font-size:1.25em;
}

#main h2 {
    clear:both;
}

div.taglist {
    background:#eee;
    float: right;
    width: 40%;
    border: 1px solid #E6CEA8;
    padding:6px;
    margin-left:6px;
    overflow: hidden;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-top-left-radius:10px;
}

div.taglist p:first-child { margin-top: 0; } 

#tagcloud	{background-image: url("/static/comment.png");}
